@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    font-family: 'Indie Flower', cursive !important;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
}

#board {
    border-collapse: collapse;
    border: 1px solid #000;
    font-size: 4rem;
    margin: 0 auto;
}

#board td {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
}

#score {
    margin-top: 40px;
    font-size: 1.5rem;
    border-collapse: collapse;
}

#score tr:first-child {
    border-bottom: 1px solid #000;
}

#score th {
    width: 100px;
    padding: 10px 0;

}

.white {
    background-color: #000 !important;
}

.player {
    color: orange;
}

.computer {
    color: #0dc6c6;
}

img {
    /* background-color: #000; */
    width: 100px;
    padding: 5px;
}

a {
    display: inline-block;
    margin-top: 50px;
}


.text-center {
    text-align: center;
}